{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
    {% block title %}
       حمله{% endblock %}

    <h2 style="direction: rtl">هذا فراق بینی و بینک!</h2>
    <p style="font-size: 120px;text-align: center">
        انت فی تسئلونی

    </p>
{% endblock %}