{% load staticfiles %}
{#{% load thumbnail %}#}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="Arun Ravindran">
    <link rel="shortcut icon" href="{% static 'logo.jpg' %}">
    <script src="{% static 'jquery-1.11.1.min.js' %}"></script>

    <title>{% block title %}کانون میثاق{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% block styles %}{% endblock styles %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

</head>

<body>

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"> "Change Navigation"</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/' style="padding: 0px;font-size: 18px;">
                    {% block navbar-brand %}
                        <img src="{% static 'logo.jpg' %}" alt="Brand"
                             style="display: inline; position: relative;width: 50px;height:50px;">
                        {#                        {% include "_brandname.html" %}#}
                    {% endblock %}
                </a>
            </div>
            {% block navbar-menu %}

                <div class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav">
                        {% block navbar-right %}
                            {% include "_navbar.html" with active_link="home" %}
                        {% endblock %}
                    </ul>
                </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    </nav>
{% endblock %}



{#<div class="container" style="margin-top: 50px;">#}
<div class="container" style="margin-top: 60px;">
    {% block content %}

    {% endblock content %}

</div>
<!-- /.container -->

<!-- Site footer -->
{% block footer %}
{% endblock %}



{% block scripts %}{% endblock scripts %}
<script src="{% static 'bootstrap-slider.min.js' %}"></script>
<link href="{% static 'bootstrap-slider.min.css' %}" rel="stylesheet">

<script>
    $(document).ready(function () {
        $('.slider').slider();

    });

</script>

</body>
</html>
