{% extends 'base.html' %}
{% load staticfiles %}
{% block navbar %}
    {% include '_navbar.html' with active_link='charity' %}
{% endblock %}
{% block content %}

    <div class="row">


        <div class="col-lg-4 col-md-4"
             style="background-color: #f5f5f5; border-radius: 30px;margin-top: 90px;height: 150px;text-align: center">

            <div style="margin-top: 100px"><img src="{% static 'azzhra.jpg' %}"
                                                width="50%"
                                                style="border-radius: 500px;text-align: center">
            </div>
            <form method="POST" style="direction: rtl;text-align: center">
                {% csrf_token %}
                {% if all_expenses.count == 1 %}
                    <p style="font-weight: bold">
                        کمک به
                        {{ all_expenses.first.expense_name }}
                        <input type="hidden" name="expense" value="{{ all_expenses.first.id }}">
                    </p>
                {% else %}
                    <p style="font-weight: bold">
                        مورد استفاده را انتخاب نمایید
                    </p>
                    <select style="margin-top: 30px;margin-bottom: 10px" name="expense" class="form-control">
                        {% for expense in all_expenses %}
                            <option value="{{ expense.id }}">
                                {{ expense.expense_name }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}


                <input style="margin-top: 30px;margin-bottom: 10px" type="number" class="form-control show-popover"
                       name="amount" placeholder="مبلغ به تومان" required=""
                       data-toggle="tooltip" data-original-title="مبلغ دلخواه" title="
                       مبلغ دلخواهی که می خواهید کمک کنید را به صورت عددی وارد کنید.مبلغ باید بیش از صد تومان باشد
                       ">
                <input type="hidden" name="mokeb1" value="">
                <button style="width: 50%" class="center-block btn-lg btn btn-success btn-block show-popover"
                        type="submit" data-toggle="tooltip"
                        title="
                        پس از زدن دگمه پرداخت به صفحه پرداخت الکترونیکی بانک ملت تحت سامانه شاپرک هدایت می شوید و با کلیه کارتهای عضو شتاب مانند تجارت،ملی و کشاورزی می توانید پرداخت نمایید.
                        ">پرداخت
                </button>
            </form>

        </div>


        <div class="col-lg-8 col-md-8 hidden-sm hidden-xs" style="text-align: center">
            <img src="/static/Chariyt.jpg"
                 style="width: 500px; height: auto; border-radius: 50px; margin-top: 20px;margin-bottom: 20px">
        </div>
    </div>
{% endblock %}