{% extends 'base.html' %}
{% block content %}
    <div>
        <form id="myForm" action="https://bpm.shaparak.ir/pgwchannel/services/pgw?wsdl" method="POST">
            <input type="hidden" name="RefId" value="{{ payment.refId }}">
            <input type="submit" value="go" style="display: none;">
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myForm").submit();
        });
    </script>
{% endblock %}