{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h3>Collapsible Navbar</h3>
  <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).
  <p>Only when the button is clicked, the navigation bar will be displayed.</p>
</div>

</body>
</html>


<ul class="nav navbar-nav navbar-left" style="padding-right: 20px">
            <li {% if active_link == "FAQ" %}class="active"{% endif %}><a href="{% url "FAQ" %}"
                                                                          style="font-family: 'B Mitra';font-weight: bold">سوالات
                متداول</a></li>
            <li {% if active_link == "charity" %}class="active"{% endif %}><a href="/pay/charity"
                                                                          style="font-family: 'B Mitra';font-weight: bold">مشارکت
                در هزینه های کانون</a></li>
                </ul>
<ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
                    {% if not user.is_authenticated %}
                        <li {% if active_link == "signin" %}class="active"{% endif %}><a href="/accounts/signin" style="font-family: 'B Mitra';font-weight: bold">ورود</a></li>
                        <li {% if active_link == "noaccount" %}class="active"{% endif %}><a href="/accounts/signup" style="font-family: 'B Mitra';font-weight: bold">آیا حساب کاربری ندارید؟</a></li>
                    {% else %}
                        <ul class="nav navbar-nav">


                </ul>
<li><a href="/credit">افزایش اعتبار  :{{ user.my_profile.credit }}</a></li>
                        <li {% if active_link == "home" %}class="active"{% endif %}><a href="/program" style="font-family: 'B Mitra';font-weight: bold">برنامه های من</a></li>


                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false" style="font-family: 'B Mitra';font-weight: bold">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>#}
                        <ul class="dropdown-menu">
                            <li {% if active_link == "profile" %}class="active"{% endif %}><a href="/profile/" style="font-family: 'B Mitra';font-weight: bold">پروفایل</a></li>
                            <li {% if active_link == "changepass" %}class="active"{% endif %}><a href="/accounts/{{ user.username }}/password/" style="font-family: 'B Mitra';font-weight: bold">تغییر گذرواژه</a></li>
                            <li {% if active_link == "exit" %}class="active"{% endif %}><a href="/accounts/signout" style="font-family: 'B Mitra';font-weight: bold">خروج</a></li>
                        </ul>
                        </li>
                    {% endif %}

                    <li class="dropdown">

                    </li>
                </ul>
