{% load staticfiles %}
{% if mymanagement.canFilter or mymanagement.canEditProgram %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-top: 50px">
        <div class="container-fluid">
        <div class="navbar-header" style="padding-left: 40px"></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav second-nav navbar-right" style="margin-right: 40%">
                    {% if user.my_profile.hasManagement %}

                           {% if  mymanagement.canEditProgram %}
                        <li {% if active_link == 'manage' %} class="active"{% endif %}><a href="/program/manage/{{ mymanagement.pk }}/" style="font-family: 'B Mitra';font-weight: bold">ویرایش برنامه</a></li>
                        {% endif %}
                        {% if mymanagement.canFilter %}
                        <li {% if active_link == 'panel' %} class="active"{% endif %}><a href="/program/panel/{{ mymanagement.pk }}/" style="font-family: 'B Mitra';font-weight: bold">پانل مدیریت</a></li>
                        {% endif %}
                        <li {% if active_link == 'documents' %} class="active"{% endif %}><a href="/program/documents/{{ mymanagement.pk }}/" style="font-family: 'B Mitra';font-weight: bold">مستند سازی</a></li>

                    {% endif %}
            </ul>
        </div>
        </div>
</nav>
    {% endif %}