{% load staticfiles %}
{#{% load thumbnail %}#}
{% load  %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="Arun Ravindran">
    <link rel="stylesheet" href="{% static 'datePicker.css'%}"/>
{#    <script src="{% static 'jquery-1.11.1.min.js' %}"></script>#}
{#    <script src="{% static 'pwt-date.js'%}"></script>#}
{#    <script src="{% static 'persian-datepicker-0.4.5.js'%}"></script>#}
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{% static 'bootstrap.min.css' %}"></script>
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}misaaq{% endblock %}</title>
{#    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>#}
{#    <script>tinymce.init({forced_root_block : "",mode: "specific_textareas", editor_deselector : "mceNoEditor"});</script>#}
    <!— Bootstrap core CSS —>
{#    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">#}
{#    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>#}
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({trigger: "hover", placement: "auto"});
        });
    </script>
    <style>

        @font-face {
            font-family: 'B Nazanin+';
            src: url('{% static 'fontBnazanin/fonts/BNazanin+Regular.eot' %}');
            src: url('{% static 'fontBnazanin/fonts/BNazanin+Regular.eot?#iefix' %}') format('embedded-opentype'),
            url('{% static ' fontBnazanin/fonts/BNazanin+Regular.woff' %}') format('woff'),
            url('{% static 'fontBnazanin/fonts/BNazanin+Regular.ttf' %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

    </style>

    <!— Custom styles for this site —>
    {% block styles %}
        <style>

            @font-face {
                font-family: 'B Nazanin+';
                src: url('{% static 'fontBnazanin/fonts/BNazanin+Regular.eot' %}');
                src: url('{% static 'fontBnazanin/fonts/BNazanin+Regular.eot?#iefix' %}') format('embedded-opentype'),
                url('{% static ' fontBnazanin/fonts/BNazanin+Regular.woff' %}') format('woff'),
                url('{% static 'fontBnazanin/fonts/BNazanin+Regular.ttf' %}') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

        </style>
    {% endblock styles %}

    <!— Custom tags for the head tag —>
    {% block extrahead %}{% endblock extrahead %}

</head>


<nav class="navbar navbar-default navbar-fixed-top">




  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a href="/"><img src="{% static 'phot.png' %}" height="50px" width="70px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
{#        <li {% if active_link == "FAQ" %}class="active"{% endif %}><a href="{% url "FAQ" %}"#}
{#                                                                          style="font-family: 'B Mitra';font-weight: bold">سوالات#}
{#                متداول</a></li>#}
            <li {% if active_link == "charity" %}class="active"{% endif %}><a href="/pay/charity"
                                                                          style="font-family: 'B Mitra';font-weight: bold">مشارکت
                در هزینه های کانون</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
                        <li {% if active_link == "signin" %}class="active"{% endif %}><a href="/accounts/signin" style="font-family: 'B Mitra';font-weight: bold">ورود</a></li>
                        <li {% if active_link == "noaccount" %}class="active"{% endif %}><a href="/accounts/signup" style="font-family: 'B Mitra';font-weight: bold">آیا حساب کاربری ندارید؟</a></li>
                    {% else %}
      <li><a href="/credit">افزایش اعتبار  :{{ user.my_profile.credit }}</a></li>
 <li {% if active_link == "home" %}class="active"{% endif %}><a href="/program" style="font-family: 'B Mitra';font-weight: bold">برنامه های من</a></li>

                           <li class="dropdown">
{#            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-family: 'B Mitra';font-weight: bold">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>#}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="font-family: 'B Mitra';font-weight: bold">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if active_link == "profile" %}class="active"{% endif %}><a href="/profile/" style="font-family: 'B Mitra';font-weight: bold">پروفایل</a></li>
                            <li {% if active_link == "changepass" %}class="active"{% endif %}><a href="/accounts/{{ user.username }}/password/" style="font-family: 'B Mitra';font-weight: bold">تغییر گذرواژه</a></li>
                            <li {% if active_link == "exit" %}class="active"{% endif %}><a href="/accounts/signout" style="font-family: 'B Mitra';font-weight: bold">خروج</a></li>
                        </ul>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>







{#<div class="container" style="margin-top: 50px;">#}
<div class="container" style="margin-top: 60px;">
    {% block content %}

    {% endblock content %}

</div>
<!— /.container —>

<!— Site footer —>
{% block footer %}
{% endblock %}



{% block scripts %}{% endblock scripts %}
<script src="{% static 'bootstrap-slider.min.js' %}"></script>
<link href="{% static 'bootstrap-slider.min.css' %}" rel="stylesheet">
<script>
    $(document).ready(function () {
        $('.slider').slider();

    });

</script>

</body>
</html>