{% extends 'base.html' %}
{% block navbar %}
   {% include '_navbar.html' with active_link='FAQ' %}
{% endblock %}
{% block content %}
    {% load staticfiles %}


        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="container">
            <div class="row" dir="rtl">
                <legend>
                    سوالات متداول
                </legend>
                <div>

                    <div class="q-a">
                        <div class="question">
                            ثبت نام به صورت متاهلی چگونه است؟
                        </div>
                        <div class="answer">
                            ابتدا باید هریک از زوجین به صورت مجزا به طور مجردی در سامانه هیئت ثبت نام کنند و سپس در قسمت پروفایل،
                            وضعیت تاهل را به متاهل تغییر دهند و کد ملی همسر خود را در قسمت کد ملی همسر ثبت کنند.
                            از این پس اگر در برنامه ای بخواهند به صورت متاهلی شرکت کنند،کافی است که تنها یکی از آنها در برنامه ثبت نام کند.
                        </div>
                    </div>
                    <div class="q-a">
                        <div class="question">
                            چه تفاوتی بین ثبت نام در سایت هیئت و ثبت نام در یک برنامه وجود دارد؟
                        </div>
                        <div class="answer">
                            همانطور که از صورت سوال مشخص است،ثبت نام در سایت هیئت یک بار برای همیشه انجام میشود و طی 
                            آن شما ابتدا کد ملی و گذرواژه و 
                            سپس باقی اطلاعات شخصی خود را وارد می کنید.
                            در مقابل ثبت نام در یک برنامه خاص،در بازه مهلت ثبت نام واقع میشود و طی آن شما اطلاعات ثبت نام مثل مجردی 
                            یا متاهلی بودن
                            این سفر را بیان می کنید.
                        </div>
                    </div>
                    <div class="q-a">
                        <div class="question">
                            ثبت نام من در سایت هیئت چه زمانی تکمیل می شود؟
                        </div>
                        <div class="answer">
                            زمانی که پروفایل خود را به تمامی پر کنید و هیچ خطایی دریافت نکنید و به صفحه
                            <span style="font-style: italic">
                                برنامه های من
                            </span>
                            هدایت شوید.
                            به عنوان نشانه می توان به ظاهر شدن اسم شما در قسمت بالا-راست صفحه اشاره کرد.
                            همچنین ایمیل و پیامکی به شما فرستاده میشود.
                            <img src="{% static 'shows-name.jpg' %}" width="99%">
                        </div>
                    </div>
                    <div class="q-a">
                        <div class="question">
                            ثبت نام من در
                            <span style="font-style: italic">
                                یک برنامه خاص
                            </span>
                            (مثل اربعین)
                            چه زمانی تکمیل می شود؟
                        </div>
                        <div class="answer">
                            زمانی که نام برنامه در صفحه برنامه های من به یک لینک آبی رنگ تبدیل شود
                            و با کلیک روی آن اطلاعات ثبت نام خودتان را ببینید.همچنین ایمیل و پیامکی به شما فرستاده میشود
                            <img src="{% static 'registration-complete.jpg' %}" width="99%">
                        </div>
                    </div>
                    <div class="q-a">
                        <div class="question">
                            چرا دگمه
                            <span style="background: green;color: white">ثبت نام در برنامه</span>
                            برای من غیر فعال است؟
                        </div>
                        <div class="answer">
                            به یکی از دلایل زیر:
                            <ul>
                                <li>
                                    پروفایل شما نقص جدی دارد
                                </li>
                                <li>
                                    زمان ثبت نام شروع نشده یا پایان یافته است.
                                </li>
                                <li>
                                    تذکرات را نخوانده اید و تیک آن را نزده اید.
                                </li>
                                <li>
                                    نوع سفر خود را تعیین نکرده اید(حتی اگر مجردی می روید و پیش فرض هم مجردی است؛باز هم باید انتخاب کنید)
                                </li>
                                <li>
                                    <span style="font-style: italic">
                                        به عنوان
                                    </span>
                                    را انتخاب نکرده اید(حتی اگر دانشجوی شریف هستید و پیش فرض هم دانشجو شریف ایت؛باز هم باید انتخاب کنید)
                                </li>
                                
                            </ul>
                        </div>
                    </div>


                    <div class="q-a">
                        <div class="question">
                            موارد نقض جدی چیست؟
                        </div>
                        <div class="answer">
                            <ul>
                                <li>
                                    نام
                                </li>
                                <li>
                                    نام خانوادگی
                                </li>
                                <li>
                                    ایمیل
                                </li>
                                <li>
                                    شماره موبایل
                                </li>
                                <li>
                                    شماره دانشجویی(مخصوص دانشجویان و فاغ التحصیلان شریف)
                                </li>
                                <li>
                                    کدملی همسر(مخصوص متاهلین)
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="q-a">
                        <div class="question">
                            فرایند ثبت نام چگونه است؟
                        </div>
                        <div class="answer">
                            <img width="70%" src="{% static 'first-flowchart.jpg' %}">
                        </div>
                    </div>
                     <div class="q-a">
                        <div class="question">
                            من پروفایل خود را تکمیل کردم و در برنامه به درستی ثبت نام کردم ولی الان که وارد می شوم اطلاعاتم نیست.چرا؟
                        </div>
                        <div class="answer">
                            متاسفانه مشکلی در سامانه وجود داشت که ساعت 15:21 روزدوشنبه 14 مهر برطرف گردید و به سبب آن برخی از افرادی که پیش از آن تاریخ ثبت نام کرده بودند اطلاعاتشان در پایگاه داده ثبت نشده است.
                        </div>
                    </div>

                </div>
                
            </div>
        </div> <!-- /container -->

        <style type="text/css">
            .q-a{
                padding-right: 9%;
                padding-bottom: 20px;
                border-bottom-style: dotted;
                border-bottom-width: .5px;
                font-size: large;
            }
            .question{
                color: #005fb3;
                padding-bottom: 11px;
            }
            .answer{
                padding-right: 5%;
            }
        </style>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.js"></script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


{% endblock %}