{% extends 'base.html' %}
{% load tags %}
{% block scripts %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker2").datepicker({dateFormat: 'yy-mm-dd'});
            {#                .datepicker('setDate', date2);#}
            $("#datepicker1").datepicker({dateFormat: 'yy-mm-dd'}).bind("change", function () {
                var minValue = $(this).val();

                minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
                minValue.setDate(minValue.getDate() + 1);
                $("#datepicker2").datepicker("option", "minDate", minValue);
            })
            {#                .datepicker('setDate', date1)#}
        });


    </script>
    <script>
        $(document).ready(function () {

                    {% if user.my_profile.personwith == True %}

                        $("#std_withmili").prop("checked", true)
                    {% else %}
                        $("#std_withmili").hide();
                        $("#std_withname").hide();
                    {% endif %}
                    {% if user.my_profile.interstToCoaoprat %}

                        $("#intersted11").prop("checked", true)
                    {% else %}
                        $("#intesteddes").hide();
                    {% endif %}
                    $("#intersted22").click(function () {
                        $("#intesteddes").fadeOut("slow");

                    })
                    $("#intersted11").click(function () {
                        $("#intesteddes").fadeIn("slow");

                    })
                    $("#menu1").addClass('in active');
                    $("#li1").addClass('in active');
                    $("#alert").hide();
                    $("#menu2").click(function () {
                        $("#alert").fadeIn("slow");
                    });
                    $('[data-toggle^=pill]').click(function (e) {

                        $('[data-toggle^=pill]').parent().removeClass('active');
                        $('[class^=tab-pane]').removeClass('in active');

                        console.log($(this).parent().addClass('active'));
                        console.log($($(this).attr('href')).addClass('in active'));
                        e.stopPropagation();
                    });

                    $("#education").ready(function () {
                        $("#std_num").hide();
                        $("#std_lev").hide();
                        $("#std_ent1").hide();
                        $("#std_moj").hide();
                        if (($("#education").val() == 'sharif student')) {
                            $("#std_lev").show();
                            $("#std_ent1").show();
                            $("#std_num").show();
                            $("#std_moj").show();
                        }


                    });
                    $("#education").change(function () {
                        if (($("#education").val() == 'sharif student')) {

                            $("#std_lev").fadeIn("slow");
                            $("#std_num").fadeIn("slow");
                            $("#std_ent1").fadeIn("slow");
                            $("#std_moj").fadeIn("slow");
                        }
                        else {

                            $("#std_lev").fadeOut("slow");
                            $("#std_ent1").fadeOut("slow");
                            $("#std_moj").fadeOut("slow");
                            $("#std_num").fadeOut("slow");
                        }

                    });

                    $("#personwith22").click(function () {
                        $("#std_withmili").fadeOut("slow");
                        $("#std_withname").fadeOut("slow");
                    })
                    $("#personwith11").click(function () {
                        $("#std_withmili").fadeIn("slow");
                        $("#std_withname").fadeIn("slow");
                    })
                }
        )


    </script>
    <style>
	/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

</style>
{% endblock %}
{% block content %}
    <div class="row row-centered" style="width: 100%">
<div class="col-md-6 col-centered col-min ">

        <div class="center-block" style="margin-left: 1%; margin-right: 1%; margin-bottom: 1px"><span
                class="label label-primary center-block"
                style="font-size: x-large; font-family:'B Titr'; line-height: 30px">پروفایل شخصی</span>
        </div>

        <div style="direction: rtl">


            <ul class="nav nav-pills" style="margin-left: 1%; margin-right: 1%; margin-bottom: 1px">

                <li id="li1" style="text-align: left; font-family:'B Titr'; font-weight: bolder; width:100%"><a
                        data-toggle="pill"
                        href="#menu1" id="menu11">اطلاعات
                    شخصی</a>
                </li>


            </ul>


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="tab-content">

                    <div id="menu1" class="tab-pane fade">
                        <div class="well" style="margin-right: 1%; margin-left: 1%">


                            <table class="table" id="table1">
                                <tr>
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                {% if not message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                    <li{% if message.tags %}
                                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        نام :
                                    </td>
                                    <td>
                                        <input value="{{ user.first_name }}" type="text" name="firstname"
                                               class="form-control" maxlength="10">
                                    </td>


                                </tr>
                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        نام خانوداگی :
                                    </td>
                                    <td>
                                        <input value="{{ user.last_name }}" type="text" name="lastname"
                                               class="form-control" maxlength="10">
                                    </td>


                                </tr>
                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        جنسیت:
                                    </td>

                                    <td>
                                        <div>
                                            مرد

                                            <input id="couple_type11" name="gender" type="radio"
                                                   value="1" class="boolean"
                                                   {% if user.my_profile.gender %}checked="checked"
                                                       {{ w }}
                                                   {% endif %}>
                                            زن
                                            <input id="couple_type22" type="radio" value="" name="gender"
                                                   class="boolean"
                                                   {% if not user.my_profile.gender %}checked="checked"
                                                       {{ w }}
                                                   {% endif %}>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        کد ملی :
                                    </td>
                                    <td>
                                        <input value="{{ user.my_profile.melliCode }}" type="text" name="she_number"
                                               class="form-control" maxlength="10">
                                    </td>


                                </tr>

                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        نام پدر:
                                    </td>
                                    <td>

                                            <input placeholder="برای بیمه الزامی است." {% if user.my_profile.fatherName  %}
                                               value="{{ user.my_profile.fatherName }}" {% endif %} type="text" name="father_name"
                                                  class="form-control"
                                            >


                                    </td>


                                </tr>

                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        شماره تلفن:
                                    </td>
                                    <td>
                                        <p dir="ltr">
                                            <input value="{{ user.my_profile.cellPhone }}" type="text" name="birthyear"
                                                    class="form-control"
                                                  ></p>
                                    </td>

                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        وضعیت سکونت :
                                    </td>
                                    <td>
                                        <select name="adresstype" class="form-control">
                                            {% for type in get_tupleadress %}
                                                <option
                                                        {% if user.my_profile.adress_type == type %}
                                                            selected="selected"{% endif %}
                                                            value="{{ type }}">{{ get_tupleadress|get_tuple_item:type }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>


                                </tr>

                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        وضعیت تحصیل:
                                    </td>
                                    <td>
                                        <select id="education" name="education" class="form-control">
                                            {% for type,persian in user.my_profile.people_type_choices %}
                                                <option{% if user.my_profile.people_type == type %}
                                                    selected="selected"{% endif %}
                                                    value="{{ type }}">{{ persian }}</option>
                                            {% endfor %}
                                        </select>

                                        </select>
                                    </td>


                                </tr>
                                <tr id="std_num">
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        مقطع :
                                    </td>
                                    <td>
                                        <select name="student_level" class="form-control">
                                            {% for type in month1 %}
                                                <option
                                                        {% if user.my_profile.level_type == type %}
                                                            selected="selected"{% endif %}
                                                            value="{{ type }}">{{ month1|get_tuple_item:type }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>

                                <tr id="std_ent1">
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        شماره دانشجویی:
                                    </td>
                                    <td>
                                        <input {% if user.my_profile.studentNumber  %}
                                            value="{{ user.my_profile.studentNumber }}" {% endif %} type="text"
                                            name="student_number"
                                                {#                                               placeholder="********"#}
                                            class="form-control" maxlength="8"  placeholder="مثلا 93416065"
                                        >
                                    </td>
                                <tr>

                                </tr>
                                <tr id="std_moj">

                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        رشته تحصیلی :
                                    </td>
                                    <td>
                                        <input{% if user.my_profile.major %}
                                            value="{{ user.my_profile.major }}"{% endif %} type="text"
                                            name="student_major"
                                            placeholder="مثلا فیزیک"
                                            class="form-control" maxlength="8"
                                        >
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        علاقه به همکاری :
                                    </td>

                                    <td>
                                        <div>
                                            دارم

                                            <input id="intersted11" name="interstToCoaoprat" type="radio"
                                                   value="1" class="boolean"
                                                   {% if user.my_profile.interstToCoaoprat %}checked="checked"{% endif %}>
                                            ندارم
                                            <input id="intersted22" type="radio" value="" name="interstToCoaoprat"
                                                   class="boolean"
                                                   {% if not user.my_profile.interstToCoaoprat %}checked="checked"{% endif %}>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="intesteddes">

                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        توضیحات علاقه :
                                    </td>
                                    <td>
                                        <input {% if user.my_profile.coaopratDes %}value="{{ user.my_profile.coaopratDes }}" {% endif %}
                                               type="text"
                                               name="intesteddes"
                                               placeholder=" "
                                               class="form-control" maxlength="20"
                                        >
                                    </td>
                                <tr>
                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        همراه در اردو :
                                    </td>

                                    <td>
                                        <div>
                                            دارم

                                            <input id="personwith11" name="personwith" type="radio"
                                                   value="1" class="boolean"
                                                   {% if user.my_profile.personwith %}checked="checked"{% endif %}>
                                            ندارم
                                            <input id="personwith22" type="radio" value="" name="personwith"
                                                   class="boolean"
                                                   {% if not user.my_profile.personwith %}checked="checked"{% endif %}>
                                        </div>
                                    </td>
                                <tr id="std_withname">

                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        نام و نام خانوداگی همراه :
                                    </td>
                                    <td>
                                        <input {% if user.my_profile.personwithname %}value="{{ user.my_profile.personwithname }}" {% endif %}
                                               type="text"
                                               name="std_withname"
                                               placeholder="مثلا علی احمدی "
                                               class="form-control" maxlength="20"
                                        >
                                    </td>

                                <tr id="std_withmili">

                                    <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                        کد ملی همراه :
                                    </td>
                                    <td>
                                        <input {% if user.my_profile.personwithnamemilicode %}value="{{ user.my_profile.personwithnamemilicode }}" {% endif %}
                                               type="text"
                                               name="std_withmili"
                                               placeholder="مثلا 0123456789"
                                               class="form-control" maxlength="11"
                                        >
                                    </td>


                                </tr>
                                <div class="col-md-4 col-lg-3">
                                    <div class="row">
                                        <div class="col-md-5">


                                        </div>
                                    </div>
                                </div>

                                </td>


                                </tr>

                            </table>

</div>
                        </div>


                    </div>

                    <button class="btn btn-success btn-lg center-block" style="font-family: 'B Titr'">ذخیره اطلاعات
                    </button>



            </form>

        </div>

    </div>
{% endblock %}