{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "بازیابی گذرواژه" %}{% endblock %}

{% block content %}
    <style>
        body {
            background-color: #c8c8c8;
        }
    </style>
    <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs"><img src="/static/faraj.jpg" style="width: 300px; height: auto; border-radius: 140px; margin-top: 50px"></div>
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
    <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-12" style="direction: rtl;background-color: rgba(245, 245, 245, 0.4);border-radius: 110px">
<form action="" method="post">
  <fieldset>
    <legend style="text-align: center; font-family: 'B Titr';font-size: 20px;margin-bottom: 5%">{% trans "بازیابی گذرواژه" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input class="btn btn-primary center-block" type="submit" value="{% trans "تایید" %}" />
</form>
    </div>
{% endblock %}
