{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% block navbar %}
    {% include "_navbar.html" with active_link="changepass" %}
{% endblock %}
{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo;
    {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
    <style>
        body {
            background-color: #c8c8c8;
        }
    </style>
    <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs"><img src="/static/faraj.jpg" style="width: 300px; height: auto; border-radius: 110px; margin-top: 50px"></div>
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
    <div class="well col-lg-4 col-md-4 col-sm-6 col-xs-12" style="direction: rtl;background-color: rgba(245, 245, 245, 0.4);border-radius: 110px">
        <form action="" method="post" id="password_change_form">
            <fieldset>
                <legend style="text-align: center; font-family: 'B Titr';font-size: 20px;margin-bottom: 5%">{% trans "تغییر پسوورد" %}</legend>
                {% csrf_token %}
                {{ form.as_p }}
            </fieldset>
            <input type="submit" class="btn btn-primary center-block" style="font-family: 'B Nazanin+'"
                   value="{% trans "اعمال تغییرات" %}"/>
        </form>
    </div>

{% endblock %}