{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% block navbar %}
    {% include '_navbar.html' with active_link='noaccount' %}
{% endblock %}
{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <style>
        body {
            background-color: #c8c8c8;
        }
    </style>


        <div class="col-lg-4 col-md-4  hidden-xs  hidden-sm"><img src="/static/faraj.jpg"
                                                              style="width: 300px; height: auto; border-radius: 140px; margin-top: 110px">
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-0"></div>
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12" style="background-color: #e6e6e6; border-radius: 80px;margin-top: 60px">
            <form action="" method="post" class="form-signin" style="padding-top: 15px;">
                {% csrf_token %}
                <fieldset>
                    <p class="center-block"
                       style="text-align:center;font-size:20px;font-family: 'B Titr';color: #58b6d2;border-radius: 20px;margin-bottom: 3%; margin-left: 25%; margin-right: 25%">
                        ثبت نام</p>
                    <div class="field-error"
                         style="color: #d42027;font-family: 'B Titr';font-size: 12px;">{{ form.non_field_errors }}</div>

                    <div class="row" id="messageRegister"
                         style="color: #d42027;font-family: 'B Titr';font-size: 12px; padding-bottom:12px;display:none; ">
                        لطفا برای ثبت نام از
                        ایمیل دانشگاهی خود استفاده کنید
                    </div>
                    {% for field in form %}


                        {% if field.name == 'tos' %}
                            <p class="checkbox">
                                <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                            </p>
                        {% else %}
                            <span style="color: #d42027;font-family: 'B Titr';font-size: 12px;">{{ field.errors }}</span>

                            <div class="row"
                                 style="padding-bottom:10px; width: 60%; margin-left: 20%;margin-right: 20%;">
                                <div class="row input-group"
                                     style="border:2px solid #58b6d2;background-color: #FFFFFF;border-radius: 10px;">
                                    <div class="input-group-btn">
                                        <i class="fa fa-envelope-o"
                                           style="font-size:25px;color:#58b6d2;padding:0 0 0 20px;"></i>
                                    </div>
                                    <div style="padding:3px 25px">
                                        <p>
                                            {#                                        {{ field.label_tag }}#}
                                            {{ field }}
                                        </p>
                                        {#                                    <input class="required form-control" id="id_email" maxlength="75" name="email" type="email" placeholder="Email" onblur="checkEmail()" style="border:0px;margin-bottom: 5px;">#}
                                        <script>
                                            function checkEmail() {
                                                var emailValue = document.getElementById("id_email").value;
                                                if (emailValue.indexOf("@chapar.ir") >= 0 || emailValue.indexOf("@rayana.ir") >= 0 || emailValue.indexOf("@elenoon.ir") >= 0 || emailValue.indexOf("@outlook.com") >= 0 || emailValue.indexOf("@hotmail.com") >= 0 || emailValue.indexOf("@ymail.com") >= 0 || emailValue.indexOf("@yahoo.com") >= 0 || emailValue.indexOf("@googlemail.com") >= 0 || emailValue.indexOf("@gmail.com") >= 0) {
                                                    document.getElementById("id_email").value = "";
                                                    document.getElementById("messageRegister").style.display = "block";
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                </fieldset>
                <div class="row" style="padding-bottom:10px;">
                    <button id="btnRegister"
                            style="border-radius: 10px; font-family: 'B Mitra';font-size: 15px; font-weight: bold"
                            type="submit"
                            class="btn btn-primary center-block">ساخت پروفایل
                        {#                        <span style="color:#58B6D2">ساخت پروفایل</span>#}
                    </button>
                </div>
            </form>
        </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type=text]").addClass('form-control input-sm');
            $("input[type=password]").addClass('form-control input-sm');
            $("#id_email").attr('placeholder', '{{form.email.label}}');
            $("#id_password1").attr('placeholder', '{{form.password1.label}}');
            $("#id_password2").attr('placeholder', '{{form.password2.label}}');
            $("#id_username").attr('placeholder', '{{form.username.label}}');
            $("#id_first_name").attr('placeholder', '{{form.first_name.label}}');
            $("#id_last_name").attr('placeholder', '{{form.last_name.label}}');
            $("#id_cellPhone").attr('placeholder', '{{form.cellPhone.label}}');

        });
    </script>

{% endblock %}
