{% extends 'base.html' %}
{% load tags %}
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">

{% block navbar %}
    {% include '_navbar.html' with active_link='management' %}
{% endblock %}

{% block second_navbar %}
    {% include '_second_navbar.html' with active_link='documents' %}
{% endblock %}

{% block  content %}

    {##}
    {#    {% for item in registered %}#}
    {#        {% if item.program.id in prog %}#}
    {#            <a href="/program/{{ item.program.id }}"> {{ item.program.title }}</a>#}
    {#        {% else %}#}
    {#            {{ item.program.title }}#}
    {#        {% endif %}#}
    {##}
    {##}
    {#        <br>#}
    {##}
    {#    {% endfor %}#}

    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs" style="margin-left: 3%;margin-right: 3%">
        {% if mymanagement.program.type == mymanagement.program.TYPE_ARBAEEN %}
            <img class="center-block" src="/static/hossein.jpg" style="width:350px">
        {% else %}
            <img src="/static/faraj.jpg"
                 style="width: 300px; border-radius: 140px;">
        {% endif %}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-0"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
         <form method="post">
                    {% csrf_token %}
                    <h3 style="text-align: right"><b>ثبت مستندسازی</b></h3>
                   <textarea name="documentation"  style="width: 500px ;height: 200px" value="{{ mymanagement.documentation }}">{{ mymanagement.documentation }}</textarea>
                   <input style="margin-top: 2%" type="submit" class="btn btn-warning center-block" name="feedback_btn" value="ثبت">
             <br><br>
                </form>
        {% for item in document_managements %}
{% if item.id == mymanagement.id %}

            {% endif %}


            <div style="direction: rtl;text-align: right" {% if item.id == mymanagement.id %}class="hide"{% else %} class="well" {% endif %}>
                <div style="font-family: 'B Mitra';font-size: 18px">
                    <b>{{ item.profile.user.get_full_name }}</b>
<br>
                    در برنامه:
                    <b>{{ item.program.title }}</b>
<br>
                    بعنوان:
                    <b>{{ item.role_choices|get_tuple_item:item.role }}</b>
<br>
                    این نظر را داد:
                </div>
                <div style="font-family: 'B Nazanin';font-size: 15px">{{ item.documentation }}</div>


            </div>
        {% endfor %}

    </div>

{% endblock %}