GitBucket 2.8
falizkaran
Fork 0
baharloo / azzahraa_final

azzahraa_final / program / templates / manage.html
omid on 8 Oct password of email
Raw History

{% extends 'base.html' %}

{% block navbar %}
    {% include '_navbar.html' with active_link='management1' %}
{% endblock %}

{% block second_navbar %}
    {% include '_second_navbar.html' with active_link='manage' %}
{% endblock %}
{#<script src="{% static "bootstrap-slider.min.js" %}"></script>#}


{% load tags %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".example1").pDatepicker({
                format: "YYYY-MM-DD"
            });
        });
    </script>
    <div class="row" style="width: 100%">
        <div class="col-md-5">
            {#<-----Managers edit programs here!----->#}
            <div dir="rtl" class="well">
                <form method="post">
                    {% csrf_token %}
                    <table class="table-responsive" width="100%">
                        <tbody>
                        <tr>
                            <th style="text-align: right" width="50%">نام برنامه:</th>
                            <td width="100%"><input class="form-control" type="text" name="title"
                                                    value="{{ mymanagement.program.title }}"></td>
                        </tr>
                        <tr>
                            <th style="text-align: right"> زمان برنامه:</th>
                            <td style="width: 80%"><input class="form-control" type="text" name="programinterval"
                                                          value="{{ mymanagement.program.programInterval }}">
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: right">زمان ثبت نام:</th>
                            <td><input class="form-control" type="text" name="registrinterval"
                                       value="{{ mymanagement.program.registerInterval }}">
                            </td>
                        </tr>
                        {#                            <tr>#}
                        {#                                <th style="text-align: right">مضاف:</th>#}
                        {#                                <td><input class="form-control" type="text" name="AdditionalOption"#}
                        {#                                           placeholder="{{ mymanagement.program.additionalOption }}">#}
                        {#                                </td>#}
                        {#                            </tr>#}
                        {% if mymanagement.program.type == mymanagement.program.TYPE_ARBAEEN %}
                            <tr>
                                <th style="text-align: right">
                                    تاریخ حرکت:
                                </th>
                                <td><input class="example1 form-control  datepicker_format" type="text" name="startDate"
                                           value="{{ mymanagement.program.startDate.year }}-{{ mymanagement.program.startDate.month }}-{{ mymanagement.program.startDate.day }}">
                                </td>
                            </tr>
                            {#                            <tr>#}
                            {#                                <th style="text-align: right">آخرین تاریخ ثبت شده برای برنامه:</th>#}
                            {#                                <td class="form-control" style="font-size: 18px">#}
                            {#                                    {{ mymanagement.program.startDate.year }}-{{ mymanagement.program.startDate.month }}-{{ mymanagement.program.startDate.day }}#}
                            {#                                </td>#}
                            {#                            </tr>#}
                        {% endif %}
                        {#                           <tr>#}
                        {#                            <th style="text-align: right">زمان ثبت نام:</th>#}
                        {#                            <td><input class="form-control" type="text" name="registrinterval"#}
                        {#                                       value="{{ mymanagement.program.registerInterval }}">#}
                        {#                            </td>#}
                        {#                        </tr>#}
                        {#                        <tr>#}
                        {#                            <th style="text-align: right">امکان ثبت نام متاهلی:</th>#}
                        {#                            <td>#}
                        {#                                <input type="checkbox" name="hascoupling"#}
                        {#                                        {% if mymanagement.program.hasCoupling %}#}
                        {#                                       checked#}
                        {##}
                        {#                                        {% endif %}>#}
                        {#                            </td>#}
                        {#                        </tr>#}
                        {#                            <tr>#}
                        {#                                <th style="text-align: right">امکان ثبت نام متاهلی:</th>#}
                        {#                                <td>#}
                        {#                                    <input type="checkbox" name="hascoupling"#}
                        {#                                            {% if mymanagement.program.hasCoupling %}#}
                        {#                                           checked#}
                        {##}
                        {#                                            {% endif %}>#}
                        {#                                </td>#}
                        {#                            </tr>#}
                        <tr>
                            <th style="text-align: right">باز برای ثبت نام:</th>
                            <td>
                                <input type="checkbox" name="isopen"
                                        {% if mymanagement.program.isOpen %}
                                       checked
                                        {% endif %}
                                >
                        </tr>
                        <tr>
                            <th style="text-align: right">تفکیک :</th>
                            <td>

                        </tr>
                        <tr>
                            <th style="text-align: right">جنسیتی</th>
                            <td>
                                <input type="checkbox" name="isopen"
                                        {% if mymanagement.program.isOpen %}
                                       checked
                                        {% endif %}
                                >
                        </tr>
                        <tr>
                            <th style="text-align: right">
                                مرد
                            </th>
                            <td><input  type="text" name="man" >
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: right">
                                زن
                            </th>
                            <td><input type="text" name="voman"
{#                                       value=" {{ mymanagement.program.startDate.year }}-{{ mymanagement.program.startDate.month }}-{{ mymanagement.program.startDate.day }}">#}
                            </td>
                        </tr>
{#                        {% for item in mymanagement.program.startDate.month %}#}
{#                            {{ item }} <br/>#}
{#                        {% endfor %}#}
                        <tr>
                            <th style="text-align: right">سال ورودی</th>
                            <td>
                                <input type="checkbox" name="isopen"
                                        {% if mymanagement.program.isOpen %}
                                       checked
                                        {% endif %}
                                >
                        </tr>
                        <tr>
                            <th style="text-align: right">مقطع</th>
                            <td>
                                <input type="checkbox" name="isopen"
                                        {% if mymanagement.program.isOpen %}
                                       checked
                                        {% endif %}
                                >
                        </tr>
                        {#                            <tr>#}
                        {#                                <th style="text-align: right">ایمیل:</th>#}
                        {#                                <td><input class="form-control" type="text" name="email"#}
                        {#                                           value="{{ mymanagement.program.email }}">#}
                        {#                                </td>#}
                        {#                            </tr>#}
                        {#                            <tr>#}
                        {#                                <th style="text-align: right">گذرواژه ایمیل:</th>#}
                        {#                                <td><input class="form-control" type="text" name="emailPassword" value="{{ mymanagement.program.emailPassword }}">#}
                        {#                                </td>#}
                        {#                            </tr>#}
                        </tbody>
                    </table>
                    <br><br>
                    <textarea class="form-control" name="note">{{ mymanagement.program.notes }}</textarea>
                    <button type="submit" class="btn btn-success center-block"
                            style="font-family: 'B Titr';margin-top: 2% ">ثبت تغییر
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            {#<-----Managers can add or remove installment here----->#}
            <div class="well" dir="rtl">
                <table class="table-responsive">
                    <thead>
                    <tr>
                        <td width="280px"><b>سری شرکت کننده</b></td>
                        <td style="text-align: center"><b>افزودن قسط</b></td>
                        <td width="80px" style="text-align: center"><b>قسط اول</b></td>
                        <td width="80px" style="text-align: center"><b>قسط دوم</b></td>
                        <td width="80px" style="text-align: center"><b>قسط سوم</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for  pricing in pricelist %}

                        <tr>
                            <td>
                                        <span>
                                                {{ mymanagement.profile.people_type_choices|get_tuple_item:pricing.people_type }}
                                            {% if pricing.coupling %}
                                                متاهلی
                                            {% else %}
                                                مجردی
                                            {% endif %}
                                            {% if mymanagement.program.additionalOption and pricing.additional %}
                                                {{ mymanagement.program.additionalOption }}
                                            {% endif %}

                                        </span>
                            </td>

                            <form action="/program/add" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="peopleType" value="{{ pricing.people_type }}">
                                <input type="hidden" name="coupling" value="{{ pricing.coupling }}">
                                <input type="hidden" name="additionalobject" value="{{ pricing.additional }}">
                                <input type="hidden" name="programId" value="{{ mymanagement.program.id }}">
                                <td><input class="form-control" data-toggle="popover"
                                           title="افزودن قسط"
                                           data-content="برای افزودن قسط مقدار آن را اینجا وارد کنید سپس دکمه Enter را بزنید"
                                           type="text" name="price" style="width: 90%"></td>
                                <td>
                                    {% if pricing.obj.price1 == None %}
                                    {% else %}
                                        <span><a href="/program/remove/{{ pricing.obj.id }}/1" data-toggle="popover"
                                                 title="حذف قسط" data-content="برای حذف قسط روی آن کلیک کنید تا حذف شود"
                                                 class="btn btn-danger"
                                                 style="width: 70px ; margin-bottom: auto">{{ pricing.obj.price1 }}</a></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pricing.obj.price2 == None %}
                                    {% else %}
                                        <span><a href="/program/remove/{{ pricing.obj.id }}/2" data-toggle="popover"
                                                 title="حذف قسط" data-content="برای حذف قسط روی آن کلیک کنید تا حذف شود"
                                                 class="btn btn-danger"
                                                 style="width: 70px">{{ pricing.obj.price2 }}</a></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pricing.obj.price3 == None %}
                                    {% else %}
                                        <span><a href="/program/remove/{{ pricing.obj.id }}/3" data-toggle="popover"
                                                 title="حذف قسط" data-content="برای حذف قسط روی آن کلیک کنید تا حذف شود"
                                                 class="btn btn-danger"
                                                 style="width: 70px">{{ pricing.obj.price3 }}</a></span>
                                    {% endif %}
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

