{% extends 'base.html' %}
{% load tags %}
{% block navbar %}
   {% include '_navbar.html' with active_link='management' %}
{% endblock %}
{% block content %}

    <div class="row" style="width: 100%;margin-right: 25%;margin-left: 25%;direction: rtl">
            <div class="well" style="border-radius: 20px; margin-top: 20px">
            {% if managements %}
                <table class="table">
                    <thead style="text-align: center">
                    <tr>
                        <th style="text-align: center">
                            نام برنامه
                        </th>
                        <th style="text-align: center">
                            مسئولیت
                        </th>

                    </tr>
                    </thead>
                    {% for my in managements %}

                        <tbody>
                        <tr>
                            <td style="text-align: center">
                                <a href="/program/manage/{{ my.pk }}">{{ my.program.title }}</a>
                            </td>
                            <td style="text-align: center">
                                {{ my.role_choices|get_tuple_item:my.role }}
                            </td>

                        </tr>
                        </tbody>

                    {% endfor %}
                </table>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <td style="text-align: center"><h3>پیام مدیریت</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center">
                                <h4>شما تا کنون در هیچ کدام از برنامه ها سابقه مدیریتی و اجرایی نداشته اید</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            </div>
    </div>
{% endblock %}