{% extends 'base.html' %}
{% load tags %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#noteCheck").click(function () {

                if (this.checked) {
                    document.getElementById("mysubmit").disabled = false;

                } else {
                    document.getElementById("mysubmit").disabled = true;

                }


            });

        });
    </script>

    <script>
        $('form').submit(function () {
            $(this).find("button[type='submit']").prop('disabled', true);
        });
    </script>
{% endblock %}

{% block content %}
    <style>
        td, th {
            text-align: right;
        }
    </style>

    <div style="width: 100%" dir="rtl">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if not message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <li{% if message.tags %}
                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <th>
                    نام برنامه
                </th>
                <th>
                    زمان
                </th>
                <th>
                    زمان ثبت نام
                </th>
                <th>
                    قیمت
                </th>
                <th>
                    اطلاعات همراه
                </th>
                <th>
                    وضعیت
                </th>
                </thead>
                <tbody>

                {% if not a %}
                    <form method="post">
                        {% csrf_token %}

                        <td style="text-align: right">{{ last_program.title }}</td>

                        <td style="text-align: right">{{ last_program.registerInterval }}</td>

                        <td style="text-align: right">
                            {% if last_program.isOpen %}
                                {% if status == 'dont exist' %}
                                    برای شما ظرفیتی تعین نشده
                                    <td>

                                    </td>
                                {% elif status == 'closed' %}
                                    ثبت نام برنامه بسته شده است
                                    <td>

                                    </td>
                                {% elif status == 'valid and unavailable' %}


                                    برای شما ظرفیت تعیین شده و میتوانید رزرو کنید

                                    <td>

                                        {{ fmypricing }}


                                    </td>
                                    <td>
                                    همراه رزرو نمیشود
                                    </td>

                                {% elif status == 'unavailable and not enough money' %}

                                 {% if withstatus == 'justprice' %}
                    <div> قیمت همراه شما{{ last_program.withprice }} میباشد</div>
                {% endif %}   برای شما ظرفیت پر شده است ولی برای رزرو باید اعتبار را افزایش دهید
                                    <td>
{{ fmypricing }}
                                    </td>
                                    <td>
                                    {% if user.my_profile.personwith %}
<div> قیمت همراه شما{{ last_program.withprice }} میباشد</div>
                                        {% endif %}
                                    </td>

                                {% elif status == 'not enough money' %}

                                    برای شما ظرفیت تعیین شده ولی  شما به اندازه کافی موجودی ندارید
                                    <td>
                                        {{ fmypricing }}
                                    </td>
                                {% elif status == 'valid and available'  %}
                                    شما میتوانید ثبت نام کنید
                                    <td>
                                        {{ fmypricing }}

                                    </td>


                                {% endif %}
                            {% else %}
                                زمان برنامه تمام شده است
                            {% endif %}
                        </td>
                     {% if status != 'valid and unavailable' %}

                        <td style="text-align: right">
                        {% if withstatus == 'have and available'  %}
                    <div> قیمت همراه شما{{ last_program.withprice }} میباشد</div>
                    {% elif withstatus == 'justprice' %}
                    <div> قیمت همراه شما{{ last_program.withprice }} میباشد</div>

                {% endif %}
{% endif %}
                            {% if withstatus == 'have and available' and status == 'valid and available' %}
                                  <label class="checkbox-inline">
                              <input data-toggle="popover"
                                                title="سفر با همراه "
                                                type="checkbox" name="personwith" class="checkbox" id="noteCheck1">       ... سفر با همراه

                                     </label>
                            {% elif withstatus == 'not have' and status == 'valid and available' %}
                     اردو ظرفیت همراه دارد. در صورت تمایل میتوانید در قسمت پروفایل، نام همراه تان را بیفزایید
                            {% elif  withstatus == 'have and unavailable' and status == 'valid and available' %}

                                این برنامه ظرفیت همراه ندارد
                             {% elif  withstatus == 'fulled'  %}
                                ظرفیت همراه این برنامه تکمیل شده است.
                            {% endif %}</td>
                        <td style="text-align: right">
                            {% if last_program.isOpen %}
                                {% if status == '0' %}
                                    <span data-toggle="popover"
                                          title="عدم امکان ثبت نام"
                                          data-content="این برنامه برای شما تعریف نشده و امکان حضور شما در آن وجود ندارد"><font
                                            color="red">ثبت نام برای شما غیر فعال است</font></span>

                                {% elif status == 'valid and unavailable' %}
                                    <span data-toggle="tooltip"
                                          title="برای رزرو تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                                    <input
                                                                            type="submit" class="btn btn-success"
                                                                            value="رزرو "
                                                                            id="mysubmit" disabled="true">
                                                </span>
                                {% elif status == 'valid and available' %}
                                    <span data-toggle="tooltip"
                                          title="برای ثبت نام تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                                    <input
                                                                            type="submit" class="btn btn-success"
                                                                            value="ثبت نام"
                                                                            id="mysubmit" disabled="true">
                                                </span>

                                {% endif %}
                            {% else %}
                                زمان برنامه تمام شده است
                            {% endif %}
                        </td>
                    </form>
                {% endif %}
                              {% for my in regs %}
                    <tr>
                        <td>
                            <a href="/program/registration/{{ my.pk }}">{{ my.program.title }}</a>
                        </td>
                        <td style="text-align: right">
                            {{ my.program.programInterval }}
                        </td>
                        <td style="text-align: right">
                            {{ my.program.registerInterval }}
                        </td>
                        <td style="text-align: right">
                            {{ my.capacity.price }}
                        </td>
                        <td>
                            {% if my.program.withcapecity %}
                                {% if my.personwith %}
                                    با همراه
                                {% else %}
                                    بدون همراه

                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ my.status_choices|get_tuple_item:my.status }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {#    <-----Users see the last public programs details here----->    #}
        <div class="row">
            <div class="col-md-12">

                </table>
            </div>
        </div>

        <div class="col-md-12">
            <div class="well" dir="rtl">
                <h3><b style="font-family: 'B Nazanin+'"> تذکرات {{ last_program.title }} </b></h3>

                <div>{{ last_program.notes|safe }}</div>

                <p style="font-family: 'B Nazanin+'">تذکرات را خوانده ام و مطمئنم که میخواهم در این برنامه ثبت نام
                    کنم.
                    <input data-toggle="popover" title="تذکر بسیار مهم"
                           data-content="زدن این تیک به منزله این است که تذکرات را به طور کامل مطالعه کرده اید. در صورت مطالعه نکردن تذکرات زدن این تیک مصداق دروغ و شرعا حرام اسست!!"
                           type="checkbox" id="noteCheck">
                </p>


            </div>
        </div>
    </div>
{% endblock %}