{% extends 'base.html' %}
{% block navbar %}
    {% include '_navbar.html' with active_link='management' %}
{% endblock %}

{% block second_navbar %}
    {% include '_second_navbar.html' with active_link='panel' %}
{% endblock %}


{% load tags %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#lab1-btn").click(function () {
                $("#hidden").attr('value', "label1");
                $("#form2").submit();
            });
            $("#lab2-btn").click(function () {
                $("#hidden").attr('value', "label2");
                $("#form2").submit();
            });
            $("#lab3-btn").click(function () {
                $("#hidden").attr('value', "label3");
                $("#form2").submit();
            });
            $("#lab4-btn").click(function () {
                $("#hidden").attr('value', "label4");
                $("#form2").submit();
            });
            $("#status_choices-btn").click(function () {
                $("#hidden").attr('value', "status_choices");
                $("#form2").submit();
            });
            $("#numberOfPayments-btn").click(function () {
                $("#hidden").attr('value', "numberOfPayments");
                $("#form2").submit();
            });
            $("#coupled-btn").click(function () {
                $("#hidden").attr('value', "coupled");
                $("#form2").submit();
            });
            $("#message").click(function () {
                $("#hidden").attr('value', "message");
                $("#form2").submit();
            });
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#all").click(function (event) {
                if (this.checked) {
                    $('.checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $('.checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $("#show").click(function () {
                $("#hidden2").attr('value', "show");
                $("#form0").submit();
            });
            $("#print").click(function () {
                $("#hidden2").attr('value', "print");
                $("#form0").submit();
            });
            $("#accelerate").click(function () {
                $("#hidden2").attr('value', "accelerate");
                $("#form0").submit();
            });
            $("#manifest").click(function () {
                $("#hidden2").attr('value', "manifest");
                $("#form0").submit();
            });
            $("#excel").click(function () {
                $("#hidden2").attr('value', "excel");
                $("#form0").submit();
            });
            $("#select").click(function () {
                $("#hidden2").attr('value', "select");
                $("#form0").submit();
            });
        });
    </script>


{% endblock %}


{% block  content %}
    <div>
        <div class="well" style="text-align: right; direction: rtl">

            <form method="post" id="form0">
                {% csrf_token %}

                <div>
                    <label id="status_choices">
                        وضعیت ثبت نام:
                        <br>
                        {% for item in statusChoices|get_keys %}
                            <b>{{ statusChoices|get_tuple_item:item }}</b>
                            <input class="checkbox-inline" type="checkbox" name="status_choices" value="{{ item }}"
                                   {% if item in filterAll.status %}checked="checked"{% endif %}
                            >
                        {% endfor %}

                    </label>

                </div>

                <div>
                    <label id="people_type_choices">
                        به عنوان:
                        <br>
                        {% for item,perisan in mymanagement.profile.people_type_choices %}
                            <b>{{ perisan }}</b>
                            <input class="checkbox-inline" type="checkbox" name="people_type_choices" value="{{ item }}"
                                   id="{{ item }}"
                                   {% if item in filterAll.people_type %}checked="checked"{% endif %}>
                        {% endfor %}

                    </label>

                </div>


                <div>
                    <label id="payment">
                        وضعیت پرداخت:
                        <br>
                        <b>بدون پرداخت</b> <input class="checkbox-inline" type="checkbox" name="payment" value="0"
                                                  {% if '0' in filterAll.payment %}checked="checked"{% endif %}>
                        <b>فقط قسط اول</b> <input class="checkbox-inline" type="checkbox" name="payment" value="1"
                                                  {% if '1' in filterAll.payment %}checked="checked"{% endif %}>
                        <b>دو قسط</b> <input class="checkbox-inline" type="checkbox" name="payment" value="2"
                                             {% if '2' in filterAll.payment %}checked="checked"{% endif %}>
                        <b>هرسه قسط</b><input class="checkbox-inline" type="checkbox" name="payment" value="3"
                                              {% if '3' in filterAll.payment %}checked="checked"{% endif %}>
                    </label>
                </div>

                <div>
                    <label id="gender">
                        جنسیت:
                        <b>مرد</b><input class="checkbox-inline" type="checkbox" name="gender" value="male"
                                         {% if 'male' in filterAll.gender %}checked="checked"{% endif %}>
                        <b>زن</b><input class="checkbox-inline" type="checkbox" name="gender" value="female"
                                        {% if 'female' in filterAll.gender %}checked="checked"{% endif %}>
                    </label>
                </div>

                <div style="direction:rtl ">
                    <label id="coupled">
                        نوع سفر:
                        <b>مجردی</b><input class="checkbox-inline" type="checkbox" name="coupled" value="single"
                                           {% if 'single' in filterAll.couple %}checked="checked"{% endif %}>
                        <b>متاهلی</b><input class="checkbox-inline" type="checkbox" name="coupled" value="couple"
                                            {% if 'couple' in filterAll.couple %}checked="checked"{% endif %}>
                    </label>
                </div>

                {% if mymanagement.program.type == mymanagement.program.TYPE_ETEKAF %}
                    <div style="direction:rtl ">
                        <label id="age">
                            سن مجاز:
                            <b>مجاز</b><input class="checkbox-inline" type="checkbox" name="age" value="can"
                                              {% if 'can' in filterAll.age %}checked="checked"{% endif %}>
                            <b>غیرمجاز</b><input class="checkbox-inline" type="checkbox" name="age" value="cannot"
                                                 {% if 'cannot' in filterAll.age %}checked="checked"{% endif %}>
                        </label>
                    </div>
                {% elif mymanagement.program.type == mymanagement.program.TYPE_MASHHAD %}
                    <div style="direction:rtl ">
                        <label id="entrance_year">
                            سال ورود:
                            {% for item in student_range %}
                                <b> ورودی {{ item }}
                                    {% if item == student_range.4 %} و ماقبل{% endif %}</b>
                                <input class="checkbox-inline" type="checkbox" name="entrance_year" value="{{ item }}"
                                       {% if item in filterAll.entrance_year %}checked="checked"{% endif %}>
                            {% endfor %}
                        </label>
                    </div>

                    <div style="direction:rtl ">
                        <label id="level">
                            مقطع:
                            <b>کارشناسی</b> <input class="checkbox-inline" type="checkbox" name="level" value="bs"
                                                   {% if 'bs' in filterAll.level %}checked="checked"{% endif %}>
                            <b>کارشناسی ارشد</b> <input class="checkbox-inline" type="checkbox" name="level" value="ms"
                                                        {% if 'ms' in filterAll.level %}checked="checked"{% endif %}>
                            <b>دکتری</b><input class="checkbox-inline" type="checkbox" name="level" value="phd"
                                               {% if 'phd' in filterAll.level %}checked="checked"{% endif %}>
                            <b>دیگر</b><input class="checkbox-inline" type="checkbox" name="level" value="other"
                                              {% if 'other' in filterAll.level %}checked="checked"{% endif %}>
                        </label>
                    </div>
                {% elif mymanagement.program.type == mymanagement.program.TYPE_ARBAEEN %}
                    <div style="direction:rtl ">
                        <label id="additionalOption">
                            نوع حمل و نقل:
                            <b>{{ mymanagement.program.additionalOption }}</b> <input class="checkbox-inline"
                                                                                      type="checkbox"
                                                                                      name="additionalOption"
                                                                                      value="additionalOption"
                                                                                      {% if 'additionalOption' in filterAll.additionalOption %}checked="checked"{% endif %}>

                        </label>
                    </div>

                {% endif %}

                {% if False %}
                    <div style="direction:rtl ">
                        <label id="ability">
                            توانمندی:
                            <input class="checkbox-inline" type="checkbox" name="ability" value="0"><b>ندارم</b>
                            <input class="checkbox-inline" type="checkbox" name="ability" value="1"><b>اجرایی</b>
                            <input class="checkbox-inline" type="checkbox" name="ability" value="2"><b>تدارکات و
                            پشتیبانی</b>
                            <input class="checkbox-inline" type="checkbox" name="ability" value="3"><b>فرهنگی</b>
                            <input class="checkbox-inline" type="checkbox" name="ability" value="4"><b>مداحی و روضه
                            خوانی</b>
                            <input class="checkbox-inline" type="checkbox" name="ability" value="5"><b>مدعوین</b>
                            <input class="checkbox-inline" type="checkbox" name="ability" value="6"><b>رابط خواهران و
                            برادران</b>
                            <input class="checkbox-inline" type="checkbox" name="ability" value="7"><b>مالی</b>
                        </label>
                    </div>

                {% endif %}

{#                <div style="direction:rtl ">#}
{#                    <label id="label1">#}
{#                        برچسب 1:#}
{#                        <b>بله</b><input class="checkbox-inline" type="checkbox" name="label1" value="y"#}
{#                                         {% if 'y' in filterAll.label1 %}checked="checked"{% endif %}>#}
{#                        <b>خیر</b><input class="checkbox-inline" type="checkbox" name="label1" value="n"#}
{#                                         {% if 'n' in filterAll.label1 %}checked="checked"{% endif %}>#}
{#                    </label>#}
{#                </div>#}

{#                <div style="direction:rtl ">#}
{#                    <label id="label2">#}
{#                        برچسب 2:#}
{#                        <b>بله</b><input class="checkbox-inline" type="checkbox" name="label2" value="y"#}
{#                                         {% if 'y' in filterAll.label2 %}checked="checked"{% endif %}>#}
{#                        <b>خیر</b><input class="checkbox-inline" type="checkbox" name="label2" value="n"#}
{#                                         {% if 'n' in filterAll.label2 %}checked="checked"{% endif %}>#}
{#                    </label>#}
{#                </div>#}

{#                <div style="direction:rtl ">#}
{#                    <label id="label3">#}
{##}
{#                        برچسب 3:#}
{##}
{#                        {% for item in label_range %}#}
{##}
{#                            {% if item == 0 %}#}
{##}
{#                                <b>حالت پیشفرض</b>#}
{#                                <input class="checkbox-inline" type="checkbox" name="label3" value="{{ item }}"#}
{#                                       {% if item in filterAll.label3 %}checked="checked"{% endif %}>#}
{##}
{#                            {% else %}#}
{#                                <b>حالت {{ item }}</b>#}
{#                                <input class="checkbox-inline" type="checkbox" name="label3" value="{{ item }}"#}
{#                                       {% if item in filterAll.label3 %}checked="checked"{% endif %}>#}
{##}
{##}
{#                            {% endif %}#}
{##}
{#                        {% endfor %}#}
{##}
{#                    </label>#}
{#                </div>#}

{#                <div style="direction:rtl ">#}
{#                    <label id="label4">#}
{#                        برچسب 4:#}
{##}
{##}
{##}
{#                        {% for item in label_range %}#}
{#                            {% if item == 0 %}#}
{##}
{#                                <b>حالت پیشفرض</b>#}
{#                                <input class="checkbox-inline" type="checkbox" name="label4" value="{{ item }}"#}
{#                                       {% if item in filterAll.label4 %}checked="checked"{% endif %}>#}
{##}
{#                            {% else %}#}
{#                                <b>حالت {{ item }}</b>#}
{#                                <input class="checkbox-inline" type="checkbox" name="label4" value="{{ item }}"#}
{#                                       {% if item in filterAll.label4 %}checked="checked"{% endif %}>#}
{##}
{##}
{#                            {% endif %}#}
{##}
{#                        {% endfor %}#}
{##}
{##}
{#                    </label>#}
{##}
{##}
{#                </div>#}

                <button type="submit" id="show" name="show" class="btn btn-primary" value="نمایش">نمایش</button>
{#                <button type="submit" id="print" name="print" class="btn btn-success" value="پرینت">پرینت</button>#}
{#                <button type="submit" id="accelerate" name="accelerate" class="btn btn-danger" value="تسریع">تسریع#}
                </button>
                <button type="submit" id="excel" name="excel" class="btn btn-info" value="اکسل">اکسل</button>
{#                <button type="submit" id="manifest" name="manifest" class="btn btn-warning" value="مانیفست">#}
{#                    مانیفست#}
{#                </button>#}



                {% if mymanagement.canSelect %}
{#                    <input type="number" name="selectFilter" value="select" id="selectFilter"#}
{#                           style="text-align: center; width: 7%; float: right"#}
{#                           placeholder="تعداد" class="form-control">#}
{#                    <input class="form-control" data-toggle="popover"#}
{#                           title="تذکرات" name="selectFilter" value="select" id="selectFilter"#}
{#                           data-content="1- باید مجردهای پسر و مجردهای دختر و متاهل ها جداگانه قرعه کشی شوند. 2- برای قرعه کشی متاهل ها، باید یکی از زوجین انتخاب و به تعداد زوجها قرعه کشی شود."#}
{#                           type="number" name="price" style="text-align: center; width: 7%; float: right">#}
{#                    <button type="submit" id="select" name="select" class="btn btn-default" value="قرعه کشی">قرعه#}
{#                        کشی#}
{#                    </button>#}
                {% endif %}



                <input type="hidden" name="editFilter" value="show" id="hidden2">
            </form>
        </div>




        {% if mymanagement.canAdd %}
            <div>
                <form method="post" action="/program/addreg/{{ mymanagement.program.id }}" id="form1">
                    {% csrf_token %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6 well">
                        <table class="table table-responsive" style="text-align: center;">
                            <tr>
                                <th width="25%" style="text-align: center; width: 250px">کد ملی</th>
                                <th width="25%" style="text-align: center; width: 250px">
                                    {% if mymanagement.program.hasCoupling %}
                                        تاهل
                                    {% endif %}</th>
                                <th width="25%" style="text-align: center; width: 250px">اعمال</th>
                            </tr>
                            <tr>
                                <td width="25%" style="text-align: center"><input class="form-control" name="mellicode"
                                                                                  type="text"></td>
                                <td width="25%" style="text-align: center">
                                    {% if mymanagement.program.hasCoupling %}
                                        <input class="checkbox-inline" name="coupled" type="checkbox" value="married">
                                        متاهلی
                                    {% endif %}
                                </td>
                                <td width="25%" style="text-align: center"><input type="submit" class="btn btn-success"
                                                                                  value="افزودن">
                                </td>
                            </tr>
                        </table>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if programcheck %}
                            {% if passportcheck2 == True or  passportcheck == 'not have' %}
                                <p dir="rtl"><b>
                                    ثبت نام مورد نظر شما انجام شد.اما برای تمدید گذرنامه یا گرفتن گذرنامه هر چه
                                    سریعتر
                                    اقدام شود.
                                </b>
                                </p>
                            {% endif %}
                        {% endif %}
                        {% if a %}
                            <p dir="rtl"><b>این شخص قبلا ثبت نام شده!</b></p>

                        {% endif %}
                        {% if b %}
                            <p dir="rtl"><b>داخل قسمت کدملی را پر کنید،یا شخص مورد نظر شما اصلی پروفایلی در هیئت ندارد و
                                عضو هیات نیست!
                            </b></p>
                        {% endif %}
                        {% if c %}
                            <p dir="rtl"><b>
                                شخصی که شما اضافه کردید جزء لیست قسط ها نیست. برایشان قسط تعریف کنید
                            </b></p>

                        {% endif %}
                    </div>
                    <div class="col-md-3"></div>
                </form>


            </div>
        {% endif %}





        <form method="post" action="/program/editregisteration/{{ mymanagement.program.id }}" id="form2">
            {% csrf_token %}


            <table class="table table-striped table-responsive">
                <tr>
                    <th style="text-align: center">{{ all.count }}</th>
                <th style="text-align: center">کدملی همسر</th>
                    <th style="text-align: center">کدملی</th>
                    <th style="text-align: center">نام</th>
                    {% if mymanagement.program.type == mymanagement.program.TYPE_MASHHAD %}
                        <th style="text-align: center">شماره دانشجویی</th>
                    {% else %}
                        <th style="text-align: center">به عنوان</th>
                    {% endif %}
                    {% if mymanagement.program.type == mymanagement.program.TYPE_MASHHAD %}
                        <th style="text-align: center">به صورت</th>
                    {% endif %}
                    <th style="text-align: center">جنسیت</th>
                    <th style="text-align: center">ایمیل</th>
                    <th style="text-align: center">وضعیت</th>
                    <th style="text-align: center"><label><input class="checkbox-inline" type="checkbox" id="all"
                                                                 name="tickall">انتخاب</label></th>
                </tr>
                {% for item in all %}
                    <tr>

                        <td style="text-align: center;  {% if item.couple_inconsistency %}
                            background:orange{% endif %}">{{ item.id }}</td>
                    <td style="text-align: center;  {% if item.couple_inconsistency %}
                            background:orange{% endif %}">{{ item.profile.couple.melliCode }}</td>
                        <td style="text-align: center">{{ item.profile.melliCode }}</td>
                        <td style="text-align: center">{{ item.profile.user.get_full_name }}</td>
                        {% if mymanagement.program.type == mymanagement.program.TYPE_MASHHAD %}
                            <td style="text-align: center">{{ item.profile.studentNumber }}</td>
                        {% else %}
                            <td style="text-align: center">{{ item.profile.people_type_choices|get_tuple_item:item.profile.people_type }}</td>
                        {% endif %}
                        {% if mymanagement.program.type == mymanagement.program.TYPE_MASHHAD %}
                            <td style="text-align: center">{% if item.coupling %}
                                متاهلی
                            {% else %}
                                مجردی
                            {% endif %}
                            </td>
                        {% endif %}
                        <td style="text-align: center">{% if item.profile.gender %}
                            مرد
                        {% else %}
                            زن
                        {% endif %}
                        </td>
                        <td style="text-align: center">{{ item.profile.user.email }}</td>
                        <td style="text-align: center">{{ item.status_choices|get_tuple_item:item.status }}</td>
                        <td style="text-align: center"><label><input class="checkbox-inline checkbox" type="checkbox"
                                                                     name="tick"
                                                                     value="{{ item.id }}"></label>
                            {% if mymanagement.program.type == mymanagement.program.TYPE_ARBAEEN %}
                                <a href="/program/print/{{ mymanagement.id }}/{{ item.profile.user.id }}">
                                    <span style="margin-left: 5%; margin-top: 1%" class="glyphicon glyphicon-print"
                                          aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>


            <div class="col-lg-6 col-md-offset-1 well">


<span style="display: inline-block;float: right">
            <label style="direction: rtl">
                <span><button class="btn btn-primary" type="submit" id="message" name="message"
                              value="message">ارسال</button></span>
                <span>پیامک <input class="checkbox-inline" type="checkbox" name="sms"
                                   value="sms"></span>
                <span>ایمیل <input class="checkbox-inline" type="checkbox" name="email" value="email"></span>
                <span>صندوق ورودی <input class="checkbox-inline" type="checkbox" name="inbox"
                                         value="inbox"></span>
            </label>
    </span>
                <script>
                    $(document).ready(function () {
                        var text_max = 70;
                        $('#textarea_feedback').html(text_max + ' characters remaining');

                        $('#messageTitle').keyup(function () {
                            var text_length = $('#messageTitle').val().length;
                            var text_remaining = text_max - text_length;

                            $('#textarea_feedback').html(text_remaining + ' characters remaining');
                        });
                    });
                </script>
                <span style="display: inline-block;float: left">

                    <label><input style="margin-left: 6%" class="form-control" type="text" name="messageTitle"
                                  id="messageTitle"
                                  placeholder="موضوع پیام"
                    ></label>
                    <div style="margin-left: 5%" id="textarea_feedback"></div>
                </span>
                <br>
                <label><textarea rows="6" class="form-control" name="message text"
                                 id="message text"></textarea></label>
            </div>

{#            <div class="col-lg-4">#}
{#                {% if mymanagement.canEditRegistration %}#}
{#                    <table class="table table-responsive well">#}
{#                        <tr>#}
{#                            <td width="50">#}
{#                                <button class="btn btn-success center-block" type="button" id="lab1-btn">تغییر برچسب 1#}
{#                                </button>#}
{#                                <select class="form-control" name="label1" id="label1">#}
{#                                    <option value="lab1-yes" id="lab1-yes">بله</option>#}
{#                                    <option value="lab1-no" id="lab1-no">خیر</option>#}
{#                                </select>#}
{#                            </td>#}
{#                            <td width="50">#}
{#                                <button class="btn btn-success center-block" type="button" id="status_choices-btn">تغییر#}
{#                                    وضعیت#}
{#                                </button>#}
{#                                <select class="form-control" name="status_choices">#}
{##}
{#                                    {% for item in statusChoices|get_keys %}#}
{#                                        <option value="{{ item }}">#}
{#                                            {{ statusChoices|get_tuple_item:item }}</option>#}
{#                                    {% endfor %}#}
{##}
{#                                </select>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <button class="btn btn-success center-block" type="button" id="lab2-btn">تغییر برچسب 2#}
{#                                </button>#}
{#                                <select class="form-control" name="label2">#}
{#                                    <option value="lab2-yes" id="lab2-yes">بله</option>#}
{#                                    <option value="lab2-no" id="lab2-no">خیر</option>#}
{#                                </select>#}
{#                            </td>#}
{#                            <td>#}
{#                                <button class="btn btn-success center-block" type="button" id="numberOfPayments-btn">#}
{#                                    تغییر#}
{#                                    پرداخت#}
{#                                </button>#}
{#                                <select class="form-control" name="numberOfPayments">#}
{#                                    <option value="0" id="numberOfPayments-0">بدون پرداخت</option>#}
{#                                    <option value="1" id="numberOfPayments-1">فقط قسط اول</option>#}
{#                                    <option value="2" id="numberOfPayments-2">دو قسط</option>#}
{#                                    <option value="3" id="numberOfPayments-3">هر سه قسط</option>#}
{#                                </select>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <button class="btn btn-success center-block" type="button" id="lab3-btn">تغییر برچسب 3#}
{#                                </button>#}
{#                                <select class="form-control" name="label3">#}
{#                                    {% for item in label_range %}#}
{#                                        {% if item == 0 %}#}
{##}
{#                                            <option value="{{ item }}">#}
{#                                                حالت پیشفرض#}
{#                                            </option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ item }}">#}
{#                                                حالت#}
{#                                                {{ item }}#}
{#                                            </option>#}
{##}
{#                                        {% endif %}#}
{##}
{#                                    {% endfor %}#}
{##}
{#                                </select>#}
{#                            </td>#}
{#                            <td>#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>#}
{#                                <button class="btn btn-success center-block" type="button" id="lab4-btn">تغییر برچسب 4#}
{#                                </button>#}
{#                                <select class="form-control" name="label4">#}
{#                                    {% for item in label_range %}#}
{#                                        {% if item == 0 %}#}
{##}
{#                                            <option value="{{ item }}">#}
{#                                                حالت پیشفرض#}
{#                                            </option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ item }}">#}
{#                                                حالت#}
{#                                                {{ item }}#}
{#                                            </option>#}
{##}
{#                                        {% endif %}#}
{##}
{#                                    {% endfor %}#}
{##}
{#                                </select>#}
{#                            </td>#}
{#                            <td>#}
{#                                <button class="btn btn-success center-block" type="button" id="coupled-btn">تغییر نوع#}
{#                                    سفر#}
{#                                </button>#}
{#                                <select name="coupled" class="form-control">#}
{#                                    <option value="coupled" id="coupled">متاهل</option>#}
{#                                    <option value="single" id="single">مجرد</option>#}
{#                                </select>#}
{#                            </td>#}
{#                        </tr>#}
{#                    </table>#}
{#                    <input type="hidden" name="editAction" value="default" id="hidden">#}
{#                {% endif %}#}
{#            </div>#}

        </form>

    </div>




{% endblock %}
