{% extends 'base.html' %}
{% load tags %}

{% block navbar %}
    {% include '_navbar.html' with active_link='ref_detail' %}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pay").click(function () {
                document.getElementById("#pay").disabled = true;
            });
        });
    </script>


    <div class="row" style="width: 100%">
        <div class="col-md-6">


            <div class="well" dir="rtl">
                <table class="table" dir="rtl">
                    <thead>
                    <tr>
                        <td><h3 data-toggle="popover" title="ثبت نام من"
                                data-content="اطلاعات فرم ثبت نام و پرداخت  قسط های مربوط و انصراف از برنامه">ثبت نام
                            من</h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>نوع سفر</td>
                        <td> {{ myregister.profile.people_type_choices|get_tuple_item:myregister.profile.people_type }} </td>
                    </tr>
                    <tr>
                        <td>به صورت</td>
                        <td>{% if myregister.personwith %}
                            با همراه
                        {% else %}
                            بدون همراه
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td><h4><b>وضعیت</b></h4></td>
                        <td><h4><b> {{ myregister.status_choices|get_tuple_item:myregister.status }} </b></h4></td>
                    </tr>
                    {% if myregister.status == myregister.STATUS_CERTAIN %}
                        <tr>
                            <td>هزینه برنامه</td>

                            <td>
                                {{ pricings }}
                            </td>

                        </tr>
{% if myregister.personwith %}
                        <td>قمیت همراه</td>
                        <td>{{ myregister.program.withprice }}
                        {% else %}
                            بدون همراه
                        {% endif %}
                        </td>
                    {% endif %}
                    <tr>
                        {% if myregister.status == myregister.STATUS_CAME or myregister.status == myregister.STATUS_GIVEN_UP or myregister.status == myregister.STATUS_REMOVED %}
                        {% else %}
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="submit"
                                           class="btn btn-danger"
                                           value="اعلام انصراف"
                                           name="givenup_btn"
                                           data-toggle="popover"
                                           title="انصراف از برنامه"
                                           data-content="ثبت نام همراه شما نیز لغو میشود.">
                                    </input>
                                </form>
                            </td>
                            <td></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
            {#        <-----Messaging Inbox for registration object----->#}
            <div class="well" dir="rtl">
                <table class="table" dir="rtl">
                    <thead>
                    <tr>
                        <td><h3><b>جعبه پیامها</b></h3></td>
                        <td><h3><b>{{ massageinbox|length }}</b></h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for massage in massageinbox %}
                        <tr>
                            <table class="table" dir="rtl">
                                <thead>
                                <tr>
                                    <h3>{{ massage.message.subject }}</h3>
                                    <p>{{ massage.message.messageSendDate|get_time }}</p>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><p>{{ massage.message.content }}</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">

            <div class="well">
                <table class="table" dir="rtl">
                    <thead>
                    <tr>
                        <td><h3><b>{{ myregister.program.title }}</b></h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>زمان برنامه</td>
                        <td>{{ myregister.program.programInterval }}</td>
                    </tr>
                    <tr>
                        <td>زمان ثبت نام</td>
                        <td>{{ myregister.program.registerInterval }}</td>
                    </tr>

                    <tr>
                        <td>باز برای ثبت نام</td>
                        <td>
                            {% if myregister.program.isOpen %}
                                باز است
                            {% else %}
                                بسته است                {% endif %}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="well" dir="rtl">
                <h3><b> تذکرات {{ myregister.program.title }} </b></h3>

                <P>{{ myregister.program.notes|safe }}</P>

            </div>

            <div dir="rtl">
                <form method="post">
                    {% csrf_token %}
                    <h3><b>انقادات و پیشنهادات</b></h3>
                    <textarea style="direction:RTL;width: 100%" name="feedback" class="mceNoEditor">{% if  myregister.feedBack %}
                        {{ myregister.feedBack }}{% endif %}</textarea>
                    <br>
                    <input type="submit" class="btn btn-warning center-block" name="feedback_btn" value="ثبت">

                    <br><br><br>
                </form>
            </div>

        </div>

    </div>

{% endblock %}
