{% load i18n %}{% autoescape off %}
    <html>
    <body>
    <div style="direction: rtl">
        {% if not without_usernames %}
            <p>
               <b>{{ user.my_profile }}</b> عزیز
                <br>
                سلام
                </p>
            {% endif %}

        {% blocktrans with site.name as site %}<p><b>مرحله اول</b> ثبت نام شما با موفقیت انجام یافت.</p>{% endblocktrans %}
        <p>
            {% trans "لطفا برای تکمیل ثبت نام و فعال سازی حساب کاربری خود، بر روی لینک زیر کلیک نمایید:" %}<br/>
            {{ protocol }}://{{ site.domain }}{% url 'userena_activate' activation_key %}
        </p>
    <br/>
        <p>
            {% trans "با تشکر" %}<br/>
            {% trans "کانون میثاق  دانشگاه صنعتی شریف" %}<br/>
        </p>
{#        <img src="/static/azzhra.jpg" width="35%" style="border-radius: 500px;text-align: right">#}
    </div>
    </body>
    </html>
{% endautoescape %}
